@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
  width: 0px;
}

.font-primary {
  font-family: "Gowun Dodum", serif;
  font-weight: 800;
  font-style: normal;
}

.bg-1 {
  background-image: linear-gradient(to bottom, #ffffff 50% ,#c1ffcd 53%);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
